// Reset box-sizing for all elements
* {
  box-sizing: border-box;
}

// Reset margin and padding for the entire document
html, body {
  margin: 0;
  padding: 0;
}

// Set base styles for the document
html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  word-spacing: 0.15rem;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

// Set default body styles
body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  // Dark mode styles
  @media (prefers-color-scheme: dark) {
    color: $body-color-dark;
    background-color: $body-bg-dark;
  }
}

// Style links
a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  // Hover and focus styles
  &:hover,
  &:focus {
    color: $link-hover-color;

    // Dark mode styles for links
    @media (prefers-color-scheme: dark) {
      color: $link-hover-color-dark;
    }
  }

  // Style strong within links
  strong {
    font-weight: bold;
  }

  // Dark mode styles for links
  @media (prefers-color-scheme: dark) {
    color: $link-color-dark;
  }
}

// Style images
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Style tables
table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;

  // Dark mode styles for tables
  @media (prefers-color-scheme: dark) {
    border: 1px solid $table-border-color-dark;
  }
}

// Style table cells and headers
td, th {
  padding: .75rem 1rem;
  border: 1px solid $table-border-color;

  // Dark mode styles for table cells and headers
  @media (prefers-color-scheme: dark) {
    border: 1px solid $table-border-color-dark;
  }
}

// Style table headers
th {
  text-align: left;
  background-color: $table-header-bg-color;

  // Dark mode styles for table headers
  @media (prefers-color-scheme: dark) {
    background-color: $table-header-bg-color-dark;
  }
}

// Style alternating table rows
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-row-bg-color;

  // Dark mode styles for alternating rows
  @media (prefers-color-scheme: dark) {
    background-color: $table-row-bg-color-dark;
  }
}
